{% extends 'base.html' %}

{% block title %}
<title>Reviews</title>
{% endblock%}


{% block content %}
<div class="container">
    <h2>Hello {{ request.session.first_name }}</h2>
    {% if messages %}
          {% for message in messages %}
            {{ message }}
          {% endfor %}
      {% endif %}
    <h2>Reviews</h2>
    {% for review in movies %}
        <h5>{{ review.title }} ({{ review.year}})</h5>
        <h5>Genre: {{ review.genre }}</h5>
        <h5>Director: {{ review.director }}</h5>
        <h5>Starring {{ review.lead_role_1 }} and {{ review.lead_role_2 }}</h5>
        {% if review.rating == 0 %}
        {% load static %}
        <h5>Rating - ZERO STARS - TURKEY <img class="turkey" src="{% static 'turkey_icon.png' %}" alt="turkey"></h5>
        {% endif %}
        {% if review.rating == 1 %}
        <h5>Rating
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        </h5>
        {% endif %}
        {% if review.rating == 2 %}
        <h5>Rating
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        </h5>
        {% endif %}
        {% if review.rating == 3 %}
        <h5>Rating
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        </h5>
        {% endif %}
        {% if review.rating == 4 %}
        <h5>Rating
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        </h5>
        {% endif %}
        {% if review.rating == 5 %}
        <h5>Rating
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        </h5>
        {% endif %}
        <h5>Review</h5>
        <p> {{ review.review }}</p>
        <h5>Reviewed By {{ review.reviewer.first_name }} {{ review.reviewer.last_name }}</h5>
    <hr>
    {% endfor %}
    <h1><a href="/movies">Review a Movie - Click Here</a></h1>
    <br>
    <a href="/logout">Logout</a>
</div>
{% endblock %}