{% extends 'base.html' %}

{% block title %}
<title>Review</title>
{% endblock%}


{% block content %}
<div class="container">
    <h6>Hello {{ request.session.first_name }}</h6>
    {% if messages %}
          {% for message in messages %}
            {{ message }}
          {% endfor %}
      {% endif %}
        <h1>{{ movie.title }} ({{ movie.year}})</h1>
        <h5>Genre: {{ movie.genre }}</h5>
        <h5>Director: {{ movie.director }}</h5>
        <h5>Starring {{ movie.lead_role_1 }} and {{ movie.lead_role_2 }}</h5>
        <p>{{ wiki_summary }}</p>
        {% if movie.rating == 0 %}
        {% load static %}
        <h5>Rating - ZERO STARS - TURKEY ALERT <img class="turkey" src="{% static 'turkey_icon.png' %}" alt="turkey"></h5>
        {% endif %}
        {% if movie.rating == 1 %}
        <h5>Rating
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        </h5>
        {% endif %}
        {% if movie.rating == 2 %}
        <h5>Rating
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        </h5>
        {% endif %}
        {% if movie.rating == 3 %}
        <h5>Rating
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        </h5>
        {% endif %}
        {% if movie.rating == 4 %}
        <h5>Rating
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        </h5>
        {% endif %}
        {% if movie.rating == 5 %}
        <h5>Rating
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        </h5>
        {% endif %}
        <h5>Review</h5>
        <p> {{ movie.review }}</p>
        <h5>Reviewed By {{ movie.reviewer.first_name }} {{ movie.reviewer.last_name }}</h5>
    <a href="/reviews">Go Back To Other Movie Reviews</a>
    <hr>
    <h1><a href="/movies">Review a Movie - Click Here</a></h1>
    <br>
    <a href="/logout">Logout</a>
</div>
{% endblock %}